.profile__avatar {
    align-self: center;
    border-radius: 50%;
    object-fit: cover;
}

/*@media screen and (max-width: 720px) {
    .profile__avatar {
        align-self: center;
        flex-direction: column;
    }
}*/